@page "/"
@page "/notes"
@using TakeNoteBlazor.Shared
@using TakeNoteBlazor.Client.ViewModels
@using TakeNoteBlazor.Client.Components
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NotesHttpRepository NotesHttpRepository
@inject IJSRuntime IJSRuntime
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Notes</h3>
<AuthorizeView>
	@if (notes is null)
	{
		<p>Loading</p>
	}
	else if (notes.Count() is 0)
	{
		<p>No Notes Found</p>
	}
	else if (notes is not null)
	{
		<FormComponent ButtonText="@ButtonText" ViewModel="@ViewModel" FormSubmit="SaveNote" />

		<table class="table table-striped small table-sm">
			<thead>
				<tr>
					<th>Author</th>
					<th>Title</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Note note in notes)
				{
					<tr>
						<td>@note.Author</td>
						<td>@note.Title</td>
						<td>
							<a class="btn btn-sm btn-success small" @onclick="@(() => GetNote(note.Id))">Edit</a>
							<a class="btn btn-sm btn-danger small" @onclick="@(() => Delete(note.Id))">Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
		<PagingComponent Total="total" PageLength="8" GetPage="GetPage"></PagingComponent>
	}
</AuthorizeView>
@code {
	private IEnumerable<Note> notes { get; set; }
	private FormViewModel ViewModel { get; set; }
	private int total;

	string ButtonText { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;

		ButtonText = "Add Note";
		ViewModel = new FormViewModel() { IsNew = true };
		ViewModel.Note = new Note() { Author = user.Identity.Name };
		try
		{
			total = await NotesHttpRepository.GetTotalAsync<Note>();
		}
		catch (AccessTokenNotAvailableException ex)
		{
			await IJSRuntime.InvokeAsync<bool>("confirm", $"{ex.Message}");
			ex.Redirect();
		}
		notes = await GetPage(1);
	}

	protected async Task<IEnumerable<Note>> GetPage(int page)
	{

		try
		{
			notes = await NotesHttpRepository.GetAllAsync<Note>($"api/note/paging/{page}");
		}
		catch (AccessTokenNotAvailableException ex)
		{
			await IJSRuntime.InvokeAsync<bool>("confirm", $"{ex.Message}");
			ex.Redirect();
		}

		return notes;
	}

	async Task GetNote(int Id)
	{
		ButtonText = "Save Note";
		//OnValidSubmitDelegate = new EventCallback();

		ViewModel.Note = await NotesHttpRepository.GetAsync<Note>($"{Id}");
	}

	async Task SaveNote(bool IsNew)
	{
		try
		{
			if (IsNew)
			{
				var noteId = await NotesHttpRepository.PostAsync<Note>(ViewModel.Note);
			}
			else
			{
				await NotesHttpRepository.PutAsync<Note>(ViewModel.Note);
			}
		}
		catch (AccessTokenNotAvailableException ex)
		{
			await IJSRuntime.InvokeAsync<bool>("confirm", $"{ex.Message}");
			ex.Redirect();
		}

		//uriHelper.NavigateTo("notes");
		await OnInitializedAsync();
	}

	async Task Delete(int Id)
	{
		var note = notes.First(n => n.Id == Id);
		if (await IJSRuntime.InvokeAsync<bool>("confirm", $"Are you sure to Delete {note.Title}"))
		{
			try
			{
				await NotesHttpRepository.DeleteAsync<Note>(Id);
			}
			catch (AccessTokenNotAvailableException ex)
			{
				await IJSRuntime.InvokeAsync<bool>("confirm", $"{ex.Message}");
				ex.Redirect();
			}
			await OnInitializedAsync();
		}
	}
}
