@page "/question"
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization
@using TakeNoteBlazor.Shared

@implements IDisposable
<div class="container">
	<NotificationComponent Notification="_notification"/>
	<div class="card">
		@*<div class="card-header"></div>*@
		<div class="card-body">
			<div class="card-title">Question</div>
			<div class="card-text">What is the definition of x?</div>
		</div>
		@*<div class="card-footer"></div>*@
	</div>
	<br />
	@if (question.Answer != default)
	{
		<div class="card text-dark bg-light">
			<div class="card-body">
				<input type="text" maxlength="64" @bind="@answerOpen" />
			</div>
		</div>
		<button @onclick="SendOpenAnswer" disabled="@(!IsConnected)">Send</button>

	}
	else if (question.AnswerChar != default)
	{
		<div class="card text-dark bg-light">
			@*<div class="card-header"></div>*@
			<div class="card-body container">
				<div class="row">
					<div class="btn btn-sm small @CheckAnswerStyle('a')" @onclick="@((e) => SetAnswer(e, 'a'))">Antwoord A</div>
					<div class="btn btn-sm small @CheckAnswerStyle('b')" @onclick="@((e) => SetAnswer(e, 'b'))">Antwoord B</div>
				</div>
				<div class="row">
					<div class="btn btn-sm small @CheckAnswerStyle('c')" @onclick="@((e) => SetAnswer(e, 'c'))">Antwoord C</div>
					<div class="btn btn-sm small @CheckAnswerStyle('d')" @onclick="@((e) => SetAnswer(e, 'd'))">Antwoord D</div>
				</div>
			</div>
			@*<div class="card-footer"></div>*@
			<button @onclick="SendAnswer" disabled="@(!IsConnected)">Send</button>
		</div>
	}
	@*@if (messages != default)*@
	@*{*@
	<div class="text-dark">
		@foreach (var answer in _answers)
		{
			<div class="alert alert-info" role="alert">@answer.UserName : @answer.Text</div>
		}
	</div>
	@*}*@
</div>
@code {
	private HubConnection hubConnection;
	private Notification _notification;

	private string answerOpen = default;
	private char answerChar = default;
	private char correctAnswer = default;

	private class Answer
	{
		public string Text { get; set; }
		public string UserName { get; set; }
	}

	private List<Answer> _answers = new List<Answer>();

	[Inject]
	public NavigationManager NavigationManager { get; set; }

	[Inject]
	public IAccessTokenProvider AccessTokenProvider { get; set; }

	private string CheckAnswerStyle(char answer)
	{
		return answerChar.Equals(answer) ? "btn-primary" : "btn-outline-primary";
	}

	private void SetAnswer(MouseEventArgs e, char answer)
	{
		answerChar = answer;
		ShouldRender();
	}

	////[Parameter]
	public Question question = new Question
	{
		Id = 1,
		AnswerA = "a",
		AnswerB = "b",
		AnswerC = "c",
		AnswerD = "d",
		AnswerChar = 'b'
	};

	public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

	async Task SendOpenAnswer() => await hubConnection.SendAsync("SendAnswer", answerOpen);
	async Task SendAnswer() => await hubConnection.SendAsync("SendAnswer", question.GetAnswer(answerChar));
	async Task PresentAnswer() => await hubConnection.SendAsync("PresentQuestion", question);

	protected override async Task OnInitializedAsync()
	{
		//answerChar = 'b';

		hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/questionhub"),
			options =>
			{
				options.AccessTokenProvider = async () =>
				{
					var accessTokenResult = await AccessTokenProvider.RequestAccessToken();
					accessTokenResult.TryGetToken(out var accessToken);
					return accessToken.Value;
				};
			})
		.Build();

		hubConnection.On<QuizDTO>("ReceiveMessage", (quizDTO) =>
		{
			var answer = _answers.Where(qp => qp.UserName.Equals(quizDTO.UserName)).FirstOrDefault();
			if (answer != null)
				_answers.Remove(answer);
			_answers.Add(new Answer { Text = quizDTO.Answer, UserName = quizDTO.UserName });
			StateHasChanged();
		});

		hubConnection.On<Notification>("ReceiveNotification", (notification) =>
		{ _notification = notification; });

		//hubConnection.On<int>("PresentQuestion",)

		await hubConnection.StartAsync();
	}

	public void Dispose()
	{
		_ = hubConnection.DisposeAsync();
	}

}
